<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>favorites movie</title>
</head>
<body>
<table>
		<tr>
			<th>Movie Name</th>
			<th>Poster</th> 
			<th>Movie Description</th>
			<th>Genres</th>
		</tr>
		<tr >
			<td th:text="${movie.name}"></td>
			<td ><img th:src="${movie.poster}" width="50" height="50"/></td> 
			<td th:text="${movie.movieDescription}"></td>
			<td th:text="${movie.genres}"></td>
			
		</tr>
</table>

</body>
</html>