 <!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:th="http://www.thymeleaf.org">

<div th:fragment="index">
<a href="/movie/latest" th:href="@{/movie/latest}">Latest</a>
<a href="/movie/add" th:href="@{/movie/add}">Add</a>
<a href="/movie/fav" th:href="@{/movie/fav}">Favorite</a>
<form th:action="@{/movie/search}" >
<!-- <input type="text" name="freeText" placeholder="Search"> -->
<input type="text" name="freeText" placeholder="Search">
<button>Search</button>
</form>
<h1>hey</h1>
</div>